# World Electricity Production Data

This notebook has been used to extract API data from the world bank.

API electricity production data by source, country and year.  The electricity sources include:
* Electricity production from oil, gas and coal sources
* Renewable electricity output excluding Hydro
* Hydro Electricity production
* Nuclear electricity production
* Natrual Gas sources

https://datacatalog.worldbank.org/search?search_api_views_fulltext_op=AND&query=electricity&nid=&sort_by=search_api_relevance&q=search&page=0%2C0

In [34]:
# Python Dependencies
import requests
import json
import pandas as pd
import pymongo
# import numpy as np
# import matplotlib.pyplot as plt1

## Electricity production from oil, gas and coal sources

In [37]:
url = "https://api.worldbank.org/v2/en/country/all/indicator/EG.ELC.FOSL.ZS?format=json&per_page=20000&source=2"

# Get coal data
coal_response = requests.get(url)
coal_json = coal_response.json()

In [40]:
print(coal_json[1][1])

{'indicator': {'id': 'EG.ELC.FOSL.ZS', 'value': 'Electricity production from oil, gas and coal sources (% of total)'}, 'country': {'id': '1A', 'value': 'Arab World'}, 'countryiso3code': 'ARB', 'date': '2019', 'value': None, 'unit': '', 'obs_status': '', 'decimal': 1}

In [43]:
# Extract the header detail and push to the production type list and data frame
production_type = [{'id' : coal_json[1][1]['indicator']['id'], 'value' : coal_json[1][1]['indicator']['value']}]
print(production_type)

[{'id': 'EG.ELC.FOSL.ZS', 'value': 'Electricity production from oil, gas and coal sources (% of total)'}]

In [5]:
# useful for checking man page with options for json_normalize
pd.json_normalize?

Signature:
pd.json_normalize(
    data: Union[Dict, List[Dict]],
    record_path: Union[str, List, NoneType] = None,
    meta: Union[str, List[Union[str, List[str]]], NoneType] = None,
    meta_prefix: Union[str, NoneType] = None,
    record_prefix: Union[str, NoneType] = None,
    errors: str = 'raise',
    sep: str = '.',
    max_level: Union[int, NoneType] = None,
) -> 'DataFrame'
Docstring:
Normalize semi-structured JSON data into a flat table.

Parameters
----------
data : dict or list of dicts
    Unserialized JSON objects.
record_path : str or list of str, default None
    Path in each object to list of records. If not passed, data will be
    assumed to be an array of records.
meta : list of paths (str or list of str), default None
    Fields to use as metadata for each record in resulting table.
meta_prefix : str, default None
    If True, prefix records with dotted (?) path, e.g. foo.bar.field if
    meta is ['foo', 'bar'].
record_prefix : str, default None
    If True, prefix records with dotted (?) path, e.g. foo.bar.field if
    path to records is ['foo', 'bar'].
errors : {'raise', 'ignore'}, default 'raise'
    Configures error handling.

    * 'ignore' : will ignore KeyError if keys listed in meta are not
      always present.
    * 'raise' : will raise KeyError if keys listed in meta are not
      always present.
sep : str, default '.'
    Nested records will generate names separated by sep.
    e.g., for sep='.', {'foo': {'bar': 0}} -> foo.bar.
max_level : int, default None
    Max number of levels(depth of dict) to normalize.
    if None, normalizes all levels.

    .. versionadded:: 0.25.0

Returns
-------
frame : DataFrame
Normalize semi-structured JSON data into a flat table.

Examples
--------
>>> data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
...         {'name': {'given': 'Mose', 'family': 'Regner'}},
...         {'id': 2, 'name': 'Faye Raker'}]
>>> pandas.json_normalize(data)
    id        name name.family name.first name.given name.last
0  1.0         NaN         NaN     Coleen        NaN      Volk
1  NaN         NaN      Regner        NaN       Mose       NaN
2  2.0  Faye Raker         NaN        NaN        NaN       NaN

>>> data = [{'id': 1,
...          'name': "Cole Volk",
...          'fitness': {'height': 130, 'weight': 60}},
...         {'name': "Mose Reg",
...          'fitness': {'height': 130, 'weight': 60}},
...         {'id': 2, 'name': 'Faye Raker',
...          'fitness': {'height': 130, 'weight': 60}}]
>>> json_normalize(data, max_level=0)
            fitness                 id        name
0   {'height': 130, 'weight': 60}  1.0   Cole Volk
1   {'height': 130, 'weight': 60}  NaN    Mose Reg
2   {'height': 130, 'weight': 60}  2.0  Faye Raker

Normalizes nested data up to level 1.

>>> data = [{'id': 1,
...          'name': "Cole Volk",
...          'fitness': {'height': 130, 'weight': 60}},
...         {'name': "Mose Reg",
...          'fitness': {'height': 130, 'weight': 60}},
...         {'id': 2, 'name': 'Faye Raker',
...          'fitness': {'height': 130, 'weight': 60}}]
>>> json_normalize(data, max_level=1)
  fitness.height  fitness.weight   id    name
0   130              60          1.0    Cole Volk
1   130              60          NaN    Mose Reg
2   130              60          2.0    Faye Raker

>>> data = [{'state': 'Florida',
...          'shortname': 'FL',
...          'info': {'governor': 'Rick Scott'},
...          'counties': [{'name': 'Dade', 'population': 12345},
...                       {'name': 'Broward', 'population': 40000},
...                       {'name': 'Palm Beach', 'population': 60000}]},
...         {'state': 'Ohio',
...          'shortname': 'OH',
...          'info': {'governor': 'John Kasich'},
...          'counties': [{'name': 'Summit', 'population': 1234},
...                       {'name': 'Cuyahoga', 'population': 1337}]}]
>>> result = json_normalize(data, 'counties', ['state', 'shortname',
...                                            ['info', 'governor']])
>>> result
         name  population    state shortname info.governor
0        Dade       12345   Florida    FL    Rick Scott
1     Broward       40000   Florida    FL    Rick Scott
2  Palm Beach       60000   Florida    FL    Rick Scott
3      Summit        1234   Ohio       OH    John Kasich
4    Cuyahoga        1337   Ohio       OH    John Kasich

>>> data = {'A': [1, 2]}
>>> json_normalize(data, 'A', record_prefix='Prefix.')
    Prefix.0
0          1
1          2

Returns normalized data with columns prefixed with the given string.
File:      c:\users\mwansa\anaconda3\lib\site-packages\pandas\io\json\_normalize.py
Type:      function

In [6]:
coal_df = pd.json_normalize(coal_json[1])
coal_df.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,ARB,2020,NaN,,,1,EG.ELC.FOSL.ZS,"Electricity production from oil, gas and coal ...",1A,Arab World
1,ARB,2019,NaN,,,1,EG.ELC.FOSL.ZS,"Electricity production from oil, gas and coal ...",1A,Arab World
2,ARB,2018,NaN,,,1,EG.ELC.FOSL.ZS,"Electricity production from oil, gas and coal ...",1A,Arab World
3,ARB,2017,NaN,,,1,EG.ELC.FOSL.ZS,"Electricity production from oil, gas and coal ...",1A,Arab World
4,ARB,2016,NaN,,,1,EG.ELC.FOSL.ZS,"Electricity production from oil, gas and coal ...",1A,Arab World

## Renewables excluding Hydroelectric

In [7]:
# Excluding Hydro
url = "https://api.worldbank.org/v2/en/country/all/indicator/EG.ELC.RNWX.ZS?format=json&per_page=20000&source=2"
# Including Hydro
# url = "https://api.worldbank.org/v2/en/country/all/indicator/EG.ELC.RNEW.ZS?format=json&per_page=20000&source=2"

renewable_response = requests.get(url)
renewable_json = renewable_response.json()

In [8]:
print(renewable_json[1][1])

{'indicator': {'id': 'EG.ELC.RNWX.ZS', 'value': 'Electricity production from renewable sources, excluding hydroelectric (% of total)'}, 'country': {'id': '1A', 'value': 'Arab World'}, 'countryiso3code': 'ARB', 'date': '2019', 'value': None, 'unit': '', 'obs_status': '', 'decimal': 1}

In [9]:
# Extract the header detail and push to the production type list and data frame
production_type.append({'id' : renewable_json[1][1]['indicator']['id'], 'value' : renewable_json[1][1]['indicator']['value']})
print(production_type)

[{'id': 'EG.ELC.FOSL.ZS', 'value': 'Electricity production from oil, gas and coal sources (% of total)'}, {'id': 'EG.ELC.HYRO.ZS', 'value': 'Electricity production from hydroelectric sources (% of total)'}, {'id': 'EG.ELC.RNWX.ZS', 'value': 'Electricity production from renewable sources, excluding hydroelectric (% of total)'}]

In [10]:
renew_df = pd.json_normalize(renewable_json[1])
renew_df.head(10)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,ARB,2020,NaN,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
1,ARB,2019,NaN,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
2,ARB,2018,NaN,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
3,ARB,2017,NaN,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
4,ARB,2016,NaN,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
5,ARB,2015,0.454259,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
6,ARB,2014,0.418328,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
7,ARB,2013,0.355385,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
8,ARB,2012,0.253884,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World
9,ARB,2011,0.282034,,,1,EG.ELC.RNWX.ZS,"Electricity production from renewable sources,...",1A,Arab World

## Electricity production from nuclear sources

In [11]:
url = "https://api.worldbank.org/v2/en/country/all/indicator/EG.ELC.NUCL.ZS?format=json&per_page=20000&source=2"

nuclear_response = requests.get(url)
nuclear_json = nuclear_response.json()

In [12]:
print(nuclear_json[1][1])

{'indicator': {'id': 'EG.ELC.NUCL.ZS', 'value': 'Electricity production from nuclear sources (% of total)'}, 'country': {'id': '1A', 'value': 'Arab World'}, 'countryiso3code': 'ARB', 'date': '2019', 'value': None, 'unit': '', 'obs_status': '', 'decimal': 1}

In [13]:
# Extract the header detail and push to the production type list and data frame
production_type.append({'id' : nuclear_json[1][1]['indicator']['id'], 'value' : nuclear_json[1][1]['indicator']['value']})
print(production_type)

[{'id': 'EG.ELC.FOSL.ZS', 'value': 'Electricity production from oil, gas and coal sources (% of total)'}, {'id': 'EG.ELC.HYRO.ZS', 'value': 'Electricity production from hydroelectric sources (% of total)'}, {'id': 'EG.ELC.RNWX.ZS', 'value': 'Electricity production from renewable sources, excluding hydroelectric (% of total)'}, {'id': 'EG.ELC.NUCL.ZS', 'value': 'Electricity production from nuclear sources (% of total)'}]

In [14]:
nuclear_df = pd.json_normalize(nuclear_json[1])
nuclear_df.head(10)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,ARB,2020,NaN,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
1,ARB,2019,NaN,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
2,ARB,2018,NaN,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
3,ARB,2017,NaN,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
4,ARB,2016,NaN,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
5,ARB,2015,NaN,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
6,ARB,2014,0.0,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
7,ARB,2013,0.0,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
8,ARB,2012,0.0,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World
9,ARB,2011,0.0,,,1,EG.ELC.NUCL.ZS,Electricity production from nuclear sources (%...,1A,Arab World

## Electricity production from natural gas sources

In [15]:
url = "https://api.worldbank.org/v2/en/country/all/indicator/EG.ELC.NGAS.ZS?format=json&per_page=20000&source=2"

ngas_response = requests.get(url)
ngas_json = ngas_response.json()

In [16]:
print(ngas_json[1][1])

{'indicator': {'id': 'EG.ELC.NGAS.ZS', 'value': 'Electricity production from natural gas sources (% of total)'}, 'country': {'id': '1A', 'value': 'Arab World'}, 'countryiso3code': 'ARB', 'date': '2019', 'value': None, 'unit': '', 'obs_status': '', 'decimal': 1}

In [17]:
# Extract the header detail and push to the production type list and data frame
production_type.append({'id' : ngas_json[1][1]['indicator']['id'], 'value' : ngas_json[1][1]['indicator']['value']})
print(production_type)

[{'id': 'EG.ELC.FOSL.ZS', 'value': 'Electricity production from oil, gas and coal sources (% of total)'}, {'id': 'EG.ELC.HYRO.ZS', 'value': 'Electricity production from hydroelectric sources (% of total)'}, {'id': 'EG.ELC.RNWX.ZS', 'value': 'Electricity production from renewable sources, excluding hydroelectric (% of total)'}, {'id': 'EG.ELC.NUCL.ZS', 'value': 'Electricity production from nuclear sources (% of total)'}, {'id': 'EG.ELC.NGAS.ZS', 'value': 'Electricity production from natural gas sources (% of total)'}]

In [18]:
ngas_df = pd.json_normalize(ngas_json[1])
ngas_df.head(10)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,ARB,2020,NaN,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
1,ARB,2019,NaN,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
2,ARB,2018,NaN,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
3,ARB,2017,NaN,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
4,ARB,2016,NaN,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
5,ARB,2015,64.071422,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
6,ARB,2014,61.592526,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
7,ARB,2013,63.035044,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
8,ARB,2012,61.330974,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World
9,ARB,2011,61.779520,,,1,EG.ELC.NGAS.ZS,Electricity production from natural gas source...,1A,Arab World

## Electricity production from hydroelectric sources

In [19]:
url = "https://api.worldbank.org/v2/en/country/all/indicator/EG.ELC.HYRO.ZS?format=json&per_page=20000&source=2"

hydro_response = requests.get(url)
hydro_json = hydro_response.json()

In [20]:
print(hydro_json[1][1])

{'indicator': {'id': 'EG.ELC.HYRO.ZS', 'value': 'Electricity production from hydroelectric sources (% of total)'}, 'country': {'id': '1A', 'value': 'Arab World'}, 'countryiso3code': 'ARB', 'date': '2019', 'value': None, 'unit': '', 'obs_status': '', 'decimal': 1}

In [21]:
production_type.append({'id' : hydro_json[1][1]['indicator']['id'], 'value' : hydro_json[1][1]['indicator']['value']})
print(production_type)

[{'id': 'EG.ELC.FOSL.ZS', 'value': 'Electricity production from oil, gas and coal sources (% of total)'}, {'id': 'EG.ELC.HYRO.ZS', 'value': 'Electricity production from hydroelectric sources (% of total)'}, {'id': 'EG.ELC.RNWX.ZS', 'value': 'Electricity production from renewable sources, excluding hydroelectric (% of total)'}, {'id': 'EG.ELC.NUCL.ZS', 'value': 'Electricity production from nuclear sources (% of total)'}, {'id': 'EG.ELC.NGAS.ZS', 'value': 'Electricity production from natural gas sources (% of total)'}, {'id': 'EG.ELC.HYRO.ZS', 'value': 'Electricity production from hydroelectric sources (% of total)'}]

In [22]:
hydro_df = pd.json_normalize(hydro_json[1])
hydro_df.tail(10)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
16094,ZWE,1969,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16095,ZWE,1968,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16096,ZWE,1967,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16097,ZWE,1966,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16098,ZWE,1965,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16099,ZWE,1964,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16100,ZWE,1963,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16101,ZWE,1962,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16102,ZWE,1961,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16103,ZWE,1960,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe

In [23]:
print(len(hydro_df))

16104

## Data Cleansing and Database Insert (T)

In [24]:
# Concatenate all DataFrames into a single dataframe
# Header Data
production_type_df = pd.DataFrame(production_type)
production_type_df = production_type_df.rename(columns={"id":"source_id", "value":"source_name"})
production_type_df

        source_id                                        source_name
0  EG.ELC.FOSL.ZS  Electricity production from oil, gas and coal ...
1  EG.ELC.HYRO.ZS  Electricity production from hydroelectric sour...
2  EG.ELC.RNWX.ZS  Electricity production from renewable sources,...
3  EG.ELC.NUCL.ZS  Electricity production from nuclear sources (%...
4  EG.ELC.NGAS.ZS  Electricity production from natural gas source...
5  EG.ELC.HYRO.ZS  Electricity production from hydroelectric sour...

In [25]:
# Results Data
frames = [coal_df, renew_df, nuclear_df, ngas_df, hydro_df]
results_df = pd.concat(frames)

print(len(results_df))

80520

In [26]:
results_df.tail()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
16099,ZWE,1964,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16100,ZWE,1963,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16101,ZWE,1962,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16102,ZWE,1961,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe
16103,ZWE,1960,NaN,,,1,EG.ELC.HYRO.ZS,Electricity production from hydroelectric sour...,ZW,Zimbabwe

In [27]:
# Clean up results data
results_df = results_df[["country.value", "countryiso3code", "date", "indicator.id", "value"]]
results_df = results_df.rename(columns={"country.value":"country", "countryiso3code":"iso3code", "date":"year", "indicator.id":"source_id", "value":"percentage"})
results_df = results_df.dropna(how='any')
results_df.reset_index(inplace=True)
results_df

       index     country iso3code  year       source_id  percentage
0          5  Arab World      ARB  2015  EG.ELC.FOSL.ZS   86.100437
1          6  Arab World      ARB  2014  EG.ELC.FOSL.ZS   86.243390
2          7  Arab World      ARB  2013  EG.ELC.FOSL.ZS   87.057507
3          8  Arab World      ARB  2012  EG.ELC.FOSL.ZS   86.745203
4          9  Arab World      ARB  2011  EG.ELC.FOSL.ZS   86.036528
...      ...         ...      ...   ...             ...         ...
39981  16088    Zimbabwe      ZWE  1975  EG.ELC.HYRO.ZS   86.665571
39982  16089    Zimbabwe      ZWE  1974  EG.ELC.HYRO.ZS   88.078619
39983  16090    Zimbabwe      ZWE  1973  EG.ELC.HYRO.ZS   67.420727
39984  16091    Zimbabwe      ZWE  1972  EG.ELC.HYRO.ZS   82.729162
39985  16092    Zimbabwe      ZWE  1971  EG.ELC.HYRO.ZS   67.323709

[39986 rows x 6 columns]

In [28]:
print(len(results_df))

39986

In [29]:
# Insert into Mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'electric_vehicles' database in Mongo
db = client.electric_vehicles

# Drop the 'electricity_production_sources' collection if it exists
db['electricity_production_sources'].drop()

# Insert Production Types
# records = json.loads(production_type_df.T.to_json()).values()
# db.electricity_production_sources.insert_many(records)

data = production_type_df.to_dict(orient='records')  # Here's our added param..
db.electricity_production_sources.insert_many(data)

In [30]:
# Insert Results
records = json.loads(results_df.T.to_json()).values()
db.electricity_production_values.insert_many(records)